.body{
  background-color: #DADDD8;
}

.App{
  font-family: -apple-system, BlinkMacSystemFont,
                "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
                sans-serif;
  color: #4B5842;
  overflow: hidden;
}

p {
  font-size: 20px;
}

#load{
    text-align: center;
    padding: 8em;
}

#home{
    text-align: center;
    margin: 2.5em;
    padding: 10rem;
    position: relative;
    background-color: #B7CE63;
}

label{
    font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    color: #4B5842;
    font-size: 20px;
}

button {
  -moz-box-shadow:inset 0 39px 0 -24px #8FB339;
  -webkit-box-shadow:inset 0 39px 0 -24px #8FB339;
  box-shadow:inset 0 39px 0 -24px #8FB339;

  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4685d', endColorstr='#eb675e',GradientType=0);
  background-color:#8FB339;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
  border:1px solid #C7D59F;
  display:inline-block;
  cursor:pointer;
  padding:6px 15px;
  text-decoration:none;
  font-family: -apple-system, BlinkMacSystemFont,
  "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  color: #4B5842;
  font-size: 20px;
}

button:active {
  position:relative;
  top:1px;
}

header{
    background-color: #B7CE63;
    height: 3.5em;
    padding-top: 0.3em;
}

header > h1{
    position: absolute;
    margin-top: 5px ;
    margin-left: 20px;
}


header > img{
    position: relative;
    margin-top: -48px ;
    margin-left: 87%;
    float: left;
}

header > button{
    position: relative;
    margin-left: 90%;
}

.User_class > header > button{
    position: relative;
    margin-top: 0.3%;
    margin-left: 2%;
}

.User_class > header > h1{
    position: relative;
    margin-top: -45px;
    margin-left: 89%;
}

.device-list{
    position: absolute;
    left: 0;
    width: 60%;
}

.list-element{
    position: relative;
    margin: 3%;
}

.list-element > button{
    position: absolute;
    left: 65%;
    margin-top: -1%;
    float: right;
}

.device-form{
    position: relative;
    right: -60%;
}

.transfer {
    text-align: right;
    margin: 8px 100px;
    padding: 1% 2%;
    background-color: #B7CE63;
}

input[type=text]{
    -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
    -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
    box-sizing: border-box;
    width: 400px;
    padding: 12px;
    margin: 1% 0 ;
}

.Championship > ol > div > li {
    border:1px solid #C7D59F;
    width: 30%;
    padding: 1.5%;
    font-weight: normal;
}

.Championship > ol {
    font-weight: bold;
}